<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<h3><em><%= @question %></em></h3>
<p>-You</p>

<h3><em><%= @answer %></em></h3>
<p>-Your Coach</p>

<!-- Add a link to /ask on the answer.html.erb view using the link_to Rails helper. -->
<!-- <a href="/ask">Ask a new question</a> -->
<p>
<%= link_to "Ask a new question", "/ask"  %>
</p>
